<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/" method="POST">
            <input type="text" name="city" placeholder="Enter a city" required>
            <input type="submit" value="Search">
        </form>
        <div class="info">
            <div class="city-name">
                <h2><%= city%></h2>
            </div>
            <div class="temp"><p><%= temp%></p></div>
            <div class="desc"><p><%= desc%></p></div>
        </div>
        
    </div>

    
</body>
</html>